@{
    ViewData["Title"] = "ASP.NET Core MVC Opinionated Template";
}

<h1>@ViewData["Title"]</h1>

Examples
<ul>
    <li>@Html.ActionLink("Configuration", "Config", null, htmlAttributes: new { target = "_blank" })</li>
    <li>@Html.ActionLink("Distributed Cache", "DistributedCache", null, htmlAttributes: new { target = "_blank" })</li>
    <li>@Html.ActionLink("Exception", "ShowAnException", null, htmlAttributes: new { target = "_blank" })</li>
    <li>@Html.ActionLink("Logger", "Log", null, htmlAttributes: new { target = "_blank" })</li>
    <li>@Html.ActionLink("Session", "Session", null, htmlAttributes: new { target = "_blank" })</li>
</ul>

